.top-heroes {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.hero-box {
  background: hsl(0, 0%, 100%);
  flex-grow: 1;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.15);
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 1px 15px hsla(0, 0%, 0%, 0.1);
  }

  &:not(:last-child) {
    margin-right: 1em;
  }

  h4 {
    text-align: center;
  }
}