h2 {
  font-size: 1.1em;
}

.muted {
  color: hsl(0, 0%, 60%);
}

.hero-list {
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  li {
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background 300ms;

    &:hover {
      transition: background 300ms;
      background: hsl(320, 50%, 70%);
    }

    &.selected {
      transition: background 300ms;
      background: hsl(315, 70%, 50%);
    }
  }
}